.meme {
  width: 300px;
  height: 300px;
  background-image: url("images/one-does-not-simply.jpg");
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
}

.meme > img {
  width: 100%;
}

.emoji {
  font-size: 3rem;
  position: absolute;
  top: 10px;
  left: 240px;
}

.joke {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: Anton, sans-serif;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  position: absolute;
  top: 160px;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 75%));
  position: absolute;
  width: 300px;
  height: 300px;
}

.about {
  position: relative;
  top: 300px;
}
