.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
}

#bulbasaur {
  position: relative;
  top: 25px;
}

#charmander {
  position: relative;
  top: 40px;
}

#squirtle {
  position: relative;
  top: 80px;
}

#pikachu {
  position: relative;
  top: 160px;
}

#jigglypuff {
  position: relative;
  top: 300px;
  left: 25px;
}
