.container {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
}

.col-4 {
  flex-basis: calc(100% / 4);
}

.col-full {
  flex-basis: 100%;
}

.col-third {
  flex-basis: calc(100% / 3);
}

.col-4 > img {
  width: 100%;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}
