.row {
  display: flex;
  margin: 0 10%;
}

.container {
  justify-content: center;
  margin: 0 25px;
  max-width: 100%;
}

#row-two {
  display: flex;
  margin: 0 auto;
}

#row-three {
  display: flex;
}

#row-four {
  display: flex;
}
