.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
}

.letter-right {
  color: rgb(25 205 27);
}

.letter-wrong {
  color: rgb(248 6 5);
}

span {
  white-space: pre;
}
